<html>
  <head>
  </head>
  <body>
    登陆界面
    <img src="./showImg"  />
    {name}<br/>
    {pwd}
    <form action="./login" method="post">
      <table>
        <tr>
          <td>
            姓名
          </td>
          <td>
            <input type="text" name="name" />
          </td>
        </tr>
        <tr>
          <td>
            密码
          </td>
          <td>
            <input type="password" name="pwd" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit">提交</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
