/**
 * 项目公共样式
 */
html, body {
  background: #f5f5f9;
}
body {
  overflow: scroll;
}
body {
  overflow: scroll;
  overflow: inherit;
  font-family: Arial,Verdana,Sans-serif;
  -webkit-appearance:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea{
  font-family: Arial,Verdana,Sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #333333;
}
a:active, a:focus,a:hover, a:link, a:visited{
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ie-7 body {
  overflow: auto;
}
.overflow-hidden {
  overflow:  hidden ! important;
}

/* 限制长度，省略号表示 */
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clear{
  clear: both;
}
/* avalon隐藏插值表达式 */

[ms-controller], [ms-important], .ms-controller, .ms-important {
  visibility: hidden;
}

/* alert/confirm */
.app-alert .ui-dialog-inner {
  width: 360px;
  padding: 0 20px;
}
.app-confirm .ui-dialog-inner {
  width: 540px;
  padding: 0 20px;
}
.app-alert .ui-dialog-body,
.app-confirm .ui-dialog-body {
  margin-bottom: 30px;
  font-size: 14px;
}
/* ajax */

.ajax-mask {
  display: none;
  z-index: 12000;
}
.ajax-mask .ajax-mask-inner {
  width: 100%;
  height: 100%;
  background: #000000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.1;
}
.ajax-global-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ajax-part-mask {
  position: absolute;
}
.ajax-mask .loading {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
}

/* 全局遮罩 start */

.global-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: none;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.5) url(image/loading.gif) no-repeat center center;
}
.ie-6 .global-mask, .ie-7 .global-mask, .ie-8 .global-mask {
  background: transparent url(image/loading.gif) no-repeat center center;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff);
  zoom: 1;
}

/* 全局遮罩 end */

/* 通用按钮*/
.service-btn-main{
  height: 27px;
  line-height: normal;
  border: 1px solid #ef5522;
  background-color: #ffffff;
  color: #ef5522;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  padding:0 8px;
  cursor: pointer;
}
.service-btn-minor{
  height: 27px;
  line-height: normal;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #666666;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  padding:0 8px;
  cursor: pointer;
}
.submit-btn-main{
  margin: 30px 15px;
  color: #ffffff;
  background-color: #f85800;
  font-size: 20px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
}
.forbidden-btn-main{
  background-color: #aaaaaa;
  font-size: 14px;
  text-align: center;
  margin: 1.2rem 0.4rem;
  border-radius: 3px;
  height: 2.4rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.submit-btn-up{
  background-color: #ffffff;
  font-size: 0.985rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #ed3c2f;
  border: 1px solid #ed3c2f;
  width: 48%;
  float: left;
}
.submit-btn-down{
  background-color: #ed3c2f;
  font-size: 0.985rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  border: 1px solid #ed3c2f;
  width: 50%;
  float: left;
  margin-left: 2px;
}
.forbidden-btn-down{
  background-color: #aaaaaa;
  font-size: 0.985rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  border: 1px solid #aaaaaa;
  width: 50%;
  float: left;
  margin-left: 2px;
}
/* 通用按钮结束 */

/* 通用标题 */
.page-title{
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: #333333;
  height: 40px;
  line-height: 40px;
  margin-bottom: 18px;
  background-color: #ffffff;
}
.page-title a{
  display: inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
}
.page-title-ico{
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 15px;
  left: 15px;
  top: 13px;
  background: url(image/m/login/left.png) no-repeat;
  background-size: 100%;
}
.title-h2{
  color: #333333;
  font-size: 14px;
  line-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.title-h2-ico{
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 50%;
}
.title-h3{
  position: relative;
  color: #a5a5a5;
  line-height: 100%;
  font-size: 12px;
  padding: 15px 0 10px 15px;
  background-color: #f5f5f9;
}
.main-page-title{
  background-color: #ffffff;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin: 15px 0 10px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
/* 通用标题结束 */

/* 通用row */
.main-row-div{
  position: relative;
  /* height: 45px; */
  line-height: 45px;
  vertical-align: middle;
  font-size: 14px;
  color: #666666;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.main-row-div label{
  width: 125px;
  font-size: 16px;
  color: #333333;
  display: inline-block;
  padding-left: 15px;
  box-sizing: border-box;
  vertical-align: top;
}
.main-row-div input{
  border: 0;
}
.main-row-div input[type=text]{
  width: 40px;
  color: #666666;
  text-align: center;
}
.main-row-div input.full-input-text{
  width: auto;
  text-align: left;
}
.main-row-div input.w150-input-text{
  width: 150px;
  text-align: left;
}
.main-row-div input.w120-input-text{
  width: 120px;
  text-align: center;
}
.main-row-div input.w80-input-text{
  width: 80px;
  text-align: center;
}
.main-row-div input.main-input-date{
  width: 80px;
}
.main-row-div a{
  display: inline-block;
  color: #666666;
  width: 100%;
  height: 100%;
}
.main-row-div .arrow-down{
  position: absolute;
  top: 20px;
  right: 15px;
}
.main-row-div .unit-span{
  display: inline-block;
  position: absolute;
  right: 15px;
}
.main-row-div .error-message{
  padding-left: 125px;
  padding-bottom: 10px;
  padding-right: 15px;
  line-height: 120%;
  font-size: 10px;
  color: #ef5522;
  display: block;
}
/* 通用row结束 */


/* 通用卡片 */
.activity-panel{
  background-color: #ffffff;
  padding-left: 15px;
  line-height: 100%;
}
.activity-card{
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.activity-card .top{
  font-size: 14px;
  color: #333333;
  padding-top: 12px;
  margin-bottom: 8px;
}
.activity-card .middle{
  font-size: 11px;
  color: #333333;
  margin-bottom: 6px;
}
.activity-card .bottom{
  font-size: 11px;
  color: #a5a5a5;
  margin-bottom: 12px;
}
.activity-card .button{
  position: absolute;
  font-size: 11px;
  top:25px;
  right: 15px;
  width: 80px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #ef5522;
  border-radius: 5px;
}
.service-wrap{
  margin:0 10px;
}
.service-panel{
  display: inline-block;
  width: 100%;
  line-height: 100%;
  box-sizing: border-box;
}
.service-card{
  position: relative;
  background-color: #ffffff;
  margin:0 3px 6px 3px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 48%;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.service-card img{
  width: 120px;
  height: 80px;
  vertical-align: middle;
}
.service-card .ico-xinpin{
  display: inline-block;
  position: absolute;
  top:0;
  left: 0;
  width: 34px;
  height: 34px;
  background: url(image/m/merchant/xinpin.png) no-repeat;
  background-size: 100%;
}
.service-card .ico-tuijian{
  display: inline-block;
  position: absolute;
  top:0;
  left: 0;
  width: 34px;
  height: 34px;
  background: url(image/m/merchant/tuijian.png) no-repeat;
  background-size: 100%;
}
.service-card .more {
  color:#a5a5a5;
}
.service-card .more img{
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 50px auto;
}
.service-card .more div{
  margin-bottom: 25px;
}
.service-card .custom{
  width: 115px;
  height: 100px;
  margin-top: 57px;
  margin-bottom: 56px;
}
.service-card .title1{
  font-size: 14px;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 6px;
}
.service-card .title2{
  font-size: 10px;
  color: #a5a5a5;
  margin-bottom: 6px;
  height: 14px;
}
.service-card .title3{
  font-size: 9px;
  margin: 5px 0;
  display: inline-block;
  width: 100%;
}
.service-card .title3 .num{
 color: #ef5522;
 font-size: 12px;
 display: block;
}
.service-card .title3 .text{
 font-size: 12px;
 display: block;
 color: #a5a5a5;
}
.service-card .title3 .left{
  width: 49%;
  display: inline-block;
  text-align: center;
  float: left;
  border-right: 1px solid #e5e5e5;
}
.service-card .title3 .right{
  width: 50%;
  display: inline-block;
  text-align: center;
  float: left;
}
.service-card .button{
  height: 25px;
  color: #ffffff;
  line-height: 25px;
  font-size: 10px;
  text-align: center;
  background-color: #ef5522;
  margin: 10px 20px;
  border-radius: 3px;
  font-size: 14px;
}
.service-card .button a{
  color: #ffffff;
}
/* 通用卡片结束 */

/* 选项卡 */
.main-title-nav{
  background-color: #ffffff; 
  height: 32px;
  padding: 7px 15px;
  margin-bottom: 15px;
  color: #a5a5a5;
}
.main-title-nav ul{
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #ff8802;
}
.main-title-nav li{
  width: 50%;
  text-align: center;
  float: left;
}
.main-title-nav li.active{
  background-color: #ef5522;
  color: #ffffff;
}
/* 选项卡结束*/

/* 通用select */
.main-select{
  /* width: 210px; */
  height: 100%;
  text-align: left;
  color: #666;
  font-size: 14px;
  background :none;
  background-color: #fff;
  -webkit-appearance: none;
  width: 50%;
  border: 0;
  margin-left: -6px;
  padding-left: 0;
}
.main-select option{
  text-align: left;
}
.main-select-multiple{
  /* width: 210px; */
  height: 100%;
  color: #ffffff;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-appearance: none;
  border: 1px solid  #ffffff;
  margin-left: -6px;
  text-align: center;
}
/* 通用select结束 */
/* 时间input */
.main-input-date{
  display: inline-block;
  color: #666666;
  height: auto;
  line-height: 100%;
  border: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  background: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 80px;
  text-align: left;
  vertical-align: middle;
}
/* 时间input结束 */
/* 表单 */
.input-area{
  background-color: #ffffff;
  padding-left: 15px;
  margin-bottom:10px;
}
.input-area .input-div-area{
  border-bottom: 1px solid #d2d2d2;
  line-height: 44px;
}
.input-area .input-span{
  display: inline-block;
  font-size: 14px;
  color: #333333;
  width: 20%;
}
.input-area .input-text{
  padding-right: 3px;
  border: 0;
  width: 75%;
  line-height: 28px;
  height: 28px;
}
.input-area .error-message{
  display: block;
  line-height: 100%;
  color: #ef5522;
  font-size: 10px;
  margin-left: 20%;
  width: 80%;
  margin-bottom: 7px;
}
.input-tip{
  padding-left: 15px;
  text-align: left;
  color: #a5a5a5;
  font-size: 8px;
}
/* 表单结束 */
/* 箭头 */
.arrow-right{
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 15px;
  vertical-align: middle;
  background: url(image/m/login/right.png) no-repeat;
  background-size: 100%;
}
.arrow-down{
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 15px;
  height: 10px;
  vertical-align: middle;
  background: url(image/m/service/down.png) no-repeat;
  background-size: 100%;
}
.icon-timepicker{
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 15px;
  height: 10px;
  vertical-align: middle;
  background: url(image/m/merchant/icon-timepicker.png) no-repeat;
  background-size: 100%;
}
.radio-selected,.radio-unselected,.radio-disabled{
  display: inline-block;
  position: relative;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.radio-selected{
  background: url(image/m/activity/selected.png) no-repeat;
  background-size: 100%;
}
.radio-unselected{
  background: url(image/m/activity/unselected.png) no-repeat;
  background-size: 100%;
}
.radio-disabled{
  background: url(image/m/activity/disabled.png) no-repeat;
  background-size: 100%;
}
/* 通用 ul 列表*/
.ul-mod{
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.ul-mod li{
  margin:0 15px;
  background-color: #ffffff;
  position: relative;
  line-height:100%;
  border-bottom: 1px solid #e5e5e5;
}
.ul-mod li:last-child{
  border: 0;
}
.ul-mod li .main-title{
  color: #333333;
  font-size: 16px;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  padding-top: 19px;
  padding-bottom: 4px;
}
.ul-mod li .main-title-ico-1{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: top;
  background: url(image/m/merchant/ico1.png) no-repeat;
  background-size: 100%;
  border-radius: 50%;
}
.ul-mod li .main-title-ico-2{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: top;
  background: url(image/m/merchant/ico2.png) no-repeat;
  background-size: 100%;
  border-radius: 50%;
}
.ul-mod li .main-title .minor-span{
  font-size: 11px;
  line-height: 25px;
  height: 25px;
  color: #ff8208;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  text-align: right;
  position: absolute;
  right: 0;
  font-size: 13px;
}
.ul-mod li .main-title .end{
  color: #44cd5a;
}
.ul-mod li .main-title .stop{
  color: #a5a5a5;
}
.ul-mod li .minor-title{
  font-size: 13px;
  color: #a5a5a5;
  padding-bottom: 20px;
  padding-left: 35px;
}
.ul-mod li .minor-title .minor-span{
  font-size: 11px;
  color: #f85800;
  display: inline-block;
  margin-left: 6px;
}
.ul-mod li .arrow-right{  
  top:38px;
}
.ul-nolist{
  text-align: center;
  margin-top: 85px;
  font-size: 14px;
  color: #666666;
  line-height: 100%;
}
.ul-nolist img{
  width: 85px;
  height: 85px;
  display:inline-block;
}
.ul-nolist div{
  margin-top: 15px;
}